.root-contact-us{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contact-us-content{
    width: 50%;
}

@media (max-width:900px) {

    .root-contact-us{
        flex-direction: column;
    }

    .contact-us-content{
        width: 100%;
    }
}

