.img{
    width:90%;
}

.row{
    margin: 5vh 0;
}

.row li{
    margin-top: 2vh;
    display: inline-block;
    margin-right: 4vh;
}

.coloum{
    margin: 5vh 0;
}

.coloum li{
    margin-top: 1.5vh;
}

@media (max-width:900px) {
 
    .img{
        width:100%;
        margin-left: 5%;
        margin-top: 10%;
    }
    
    .row{
        width: 50%;
        margin: 3vh auto;
        list-style-type: none;
        padding: 0;
    }

    .row li{
        padding: 0;
        margin-top: 2vh;
        margin-right: 0;
    }

    .img-dowload{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
}