.root-info{
    background-image: url('../../../../images/contactUs.png');
    background-repeat: no-repeat;
    background-position-x: 400px;
    background-position-y: 60%;
    height: 100%;
    font-family: 'Prompt';
    font-style: normal;
    display: flex;
    align-items: center;
}

.root-info-content{
    width: 50%;
    margin: 0 auto;
}

.root-info h1{
    font-weight: bold;
    font-size: 40px;
}

.icon-img{
    height: 35;
    width: 35;
}

.info-ul-social{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.info-ul-contact{
    margin: 0;
    padding: 0;
    list-style-type: none;  
}

.info-ul-contact li{
    display: flex;
    align-items: center;
}

.info-ul-contact li span{
    margin-right: 1.5vh;
}

.info-ul-social li{
    display: inline-block;
    margin-right: 1vh;
}

@media (max-width:900px) {
    .root-info{
        background-position-x: 0%;
        background-position-y: 0%;
        padding: 2vh 4vh;
        height: 60vh;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .root-info-content{
        width: 90%;
    }
}